%li.span2
  = link_to image.file.url, id: image.id, class: "thumbnail", data: { gallery: "gallery" } do
    = image_tag image.file.url(:thumb)
  = link_to "#", class: "close hide", id: image.id do
    &times;

