.row
  .span7
    %h1 Albums
  .span5{ style: "margin-top: 15px" }
    %span.pull-right
      .btn#editAlbums
        %i.icon-edit
      = link_to "#newAlbumModal", role: "button", class: "btn", data: { toggle: 'modal' } do
        %i.icon-plus
#albumsList
  - @albums.each do |album|
    = render 'albums_list_item', album: album

= render 'form'
